<section class="w-screen h-screen flex flex-col items-center justify-center bg-black text-white ">

     <div class="w-10/12 h-5/6 mx-auto flex flex-col items-center justify-center rounded-xl bg-auto  " 
    style="background-image: url(../../../../assets/back.png)">

 
        <div class="w-full my-4 text-center">
            <div class="mx-auto w-32 h-32 mb-3">
                <img class="rounded-full border-2 border-white" src="../../../../assets/profile.png" alt="">
            </div>
            <div class="w-11/12 mx-auto md:w-9/12">
                <div class="flex justify-center">
                    <p class="text-sm mb-1 md:text-lg">Hello, welcome everyone! 🥳 </p>
                </div>
                <p class="text-xl font-bold md:text-2xl">I'm Danilo a Software Developer</p>

                <ul class="my-20 flex flex-col justify-between items-center space-y-2 font-medium text-lg
                md:flex-row md:justify-evenly md:space-y-0">

                    <button routerLink="/projects" type="button" class="text-white bg-transparent hover:text-green-500 hover:-translate-x-4 hover:scale-105 inline-flex items-center group/item">
                        Projects
                        <div class="group/edit invisible group-hover/item:visible">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 ml-2 -mr-1 roup-hover/edit:text-gray-700 xs:w-4 xs:h-4">
                                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </button>
                    <button routerLink="/projects" type="button" class="text-white bg-transparent hover:text-green-500 hover:-translate-x-4 hover:scale-105 inline-flex items-center group/item">
                        Studies
                        <div class="group/edit invisible group-hover/item:visible">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 ml-2 -mr-1 roup-hover/edit:text-gray-700 xs:w-4 xs:h-4">
                                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </button>
                    <button routerLink="/projects" type="button" class="text-white bg-transparent hover:text-green-500 hover:-translate-x-4 hover:scale-105 inline-flex items-center group/item">
                        Contact
                        <div class="group/edit invisible group-hover/item:visible">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 ml-2 -mr-1 roup-hover/edit:text-gray-700 xs:w-4 xs:h-4">
                                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </button>
                </ul>
            </div>
        </div>
    </div>

    
</section>





